<%- include('./layout'); %>
<div class="col-sm-10">
    <ul>
        
        <li>Books <%= book_count %></li>
        
        <li>Copies <%=book_instance_count %></li>
        
        <li>Copies available <%= book_instance_available_count %></li>
        
        <li>Authors <%= author_count %></li>
        
        <li>Genres <%= genre_count %></li>
    
    </ul>
</div>
</div> 
</div>
</div>
</body>
</html>